// copy this file and add the correct ENV-Variables
TMDB_API_KEY=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
TMDB_GLOBAL_RATE_LIMIT_PER_MINUTE="100"
TMDB_GLOBAL_RATE_LIMIT_PER_HOUR="1000"
SEARCH_RATE_LIMIT_PER_MINUTE="20"
SEARCH_RATE_LIMIT_PER_HOUR="300"